



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Raleway-Regular;
  src: url('../fonts/raleway/Raleway-Regular.ttf'); 
}

@font-face {
  font-family: Raleway-Black;
  src: url('../fonts/raleway/Raleway-Black.ttf'); 
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf'); 
}

@font-face {
  font-family: Raleway-Bold;
  src: url('../fonts/raleway/Raleway-Bold.ttf'); 
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #00a4ff;                                                  /*Schrift-farbe bei hover beim einloggen button - Lori*/
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #acacac; }
input:-moz-placeholder { color: #acacac; }
input::-moz-placeholder { color: #acacac; }
input:-ms-input-placeholder { color: #acacac; }

textarea::-webkit-input-placeholder { color: #acacac; }
textarea:-moz-placeholder { color: #acacac; }
textarea::-moz-placeholder { color: #acacac; }
textarea:-ms-input-placeholder { color: #acacac; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Raleway-Regular;
  font-size: 16px;
  color: #999999;
  line-height: 1.4;
}

.bo1 {
  border-bottom: 1px solid #999999;
}

.hov1:hover {
  border-color: #d33f8d;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #69c6ec;
  background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
  background: -o-linear-gradient(bottom, #0250c5, #d43f8d);
  background: -moz-linear-gradient(bottom, #0250c5, #d43f8d);
  background: linear-gradient(bottom, #0250c5, #d43f8d);
  position: relative;
  z-index: 1;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../images/img-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrap-login100 {
  width: 450px;
  height:600px;
  border-radius: 3px;
  background: #fff;
  overflow: hidden;
}


/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login100-form-title {
  font-family: Raleway-Black;
  font-size: 30px;
  color: #69c6ec;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
}

.input100 {
  font-family: Raleway-SemiBold;
  font-size: 18px;
  line-height: 1.2;
  color: #d33f8d;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 62px;
  border-radius: 3px;
  padding: 0 30px 0 65px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(211,63,141, 0.6);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 24px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 23px;
  padding-bottom: 5px;
  pointer-events: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #d33f8d;
  padding-left: 18px;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Raleway-Regular;
  font-size: 16px;
  color: #999999;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #d33f8d;
  left: 0;
  top: 48%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #d33f8d;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Raleway-Bold;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 62px;
  border-radius: 3px;
  background: #d33f8d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}

/*------------------------------------------------------------------
[ Button sign in with ]*/
.btn-face,
.btn-google {
  font-family: Raleway-Bold;
  font-size: 16px;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 10px) / 2);
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.btn-face {
  color: #69c6ec;
}

.btn-face i {
  font-size: 20px;
  margin-right: 10px;
  padding-bottom: 1px;
}

.btn-google {
  color: #555555;
}

.btn-google img {
  width: 19px;
  margin-right: 10px;
  padding-bottom: 1px;
}


.btn-face:hover,
.btn-google:hover {
  border-color: #69c6ec;
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 3px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Raleway-SemiBold;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*//////////////////////////////////////////////////////////////////
[ responsive ]*/

@media (max-width: 480px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}


#second {
  display: none;
}
@font-face {
  font-family: 'Bellota-LightItalic';
  src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
  font-family: 'Bellota-BoldItalic';
  src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
  line-height: 17px;
  background-color: #E6EAE8;                                              /*Hintergrund der kompletten Seite*/
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

a {
  color: #69c6ec;
  text-decoration: none;
}

.top_bar {
  width: 100%;
  min-width: 1050px;
  height: 40px;
  background-color: #69c6ec;
  border-bottom: 0.25em solid #69c6ec;
  margin: 0 0 10px 0;
  display: inline-flex;
  position: fixed;
  z-index: 10;
}

.logo a{
  font-family: 'Bellota-BoldItalic', sans-serif;
  margin-left: 10px;
  font-size: 30;
  position: relative;
  top: 9px;
  text-shadow: #69c6ec 0.5px 0.5px 0px;
  color: #69c6ec;
}

a:hover {
  text-decoration: none;
}

nav ul { /*nav ul statt ul wiel ul sonst hintergrund des footers beeinflusst */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 14px 16px;
  }
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

nav {
  right: 1px;
}

nav a{
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  border-bottom: 7px solid #69c6ec;                        /*unterstirchenes wenn man mit der maus drüber geht nav bar*/
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  top: 50px;
  position: relative;
  padding: 0 10px;
  width: 75%;
  min-width: 950px;
}

.column {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #D3D3D3;
  z-index: -1;
  color: #000000;                           /* Das ist "keine ausgewählt" bei dem Upload-Lori*/
}

.user_details {
  width: 250px;
  float: left;
  margin-bottom: 20px;
}

.user_details img {
  height: 120px;
  border-radius: 5px;
  margin-right: 5px;
}

.user_details_left_right {
  width: 120px;
  display: inline-table;
  position: absolute;
}

.main_column {
  float:right;
  width: 70%;
  z-index: -1;
  min-height: 170px;
}
.profile_pic img {width: 100% !important;}


.message-sent-box{


}


.post-content-box{


}


.notify-box{


}



.post_form {
  width: 100%;
}

.post_form textarea {
  width: 81%;
  height: 60px;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #D3D3D3;
  font-size: 12px;
  padding: 5px;
}

textarea:focus {
  outline: 0;
}

.post_form input[type="submit"] {
  padding: 16px 32px;
  border: none;
  border-radius: 3px;
  background-color: #69c6ec;
  color: #FFF;
  text-shadow: #69c6ec 0.5px 0.5px 0px;
  font-size: 90%;
  outline: 0;
  margin: 0;
  cursor: pointer;
}

.post_form form
{
  margin-top: 20px;

}

.post_form input[type="submit"]:active {
  padding: 5px 4px 4px 5px;
}

.status_post {
  width: 96%;
  font-size: 15px;
  padding: 0px 5px;
  min-height: 75px;
  cursor:pointer;
}

.post_profile_pic {
  float: left;
  margin-right: 7px;
}

.post_profile_pic img {
  border-radius: 5px;
}

#comment_iframe {
  max-height: 250px;
  width: 100%;
  margin-top: 5px;
}

.comment_section {
  padding: 0 5px 5px 5px;
}

.comment_section img {
  margin: 0 3px 3px 3px;
  border-radius: 3px;
}

#comment_form textarea {
  border-color: #D3D3D3;
  width: 85%;
  height: 35px;
  border-radius: 5px;
  color: #616060;
  font-size: 14px;
  margin: 3px 3px 3px 5px;
}
#comment_form input[type="submit"] {
  border:none;
  background-color: #69c6ec;
  color: #69c6ec;
  border-radius: 5px;
  width: 13%;
  height: 35px;
  margin-top: 3px;
  position: absolute;
  font-family: 'Bellota-BoldItalic', sans-serif;
  text-shadow: #69c6ec 0.5px 0.5px 0px;
}

.newsfeedPostOptions {
  padding: 0px;
  text-decoration: none;
  color:#69c6ec;
  border:none;
}

.newsfeedPostOptions iframe {
  border: 0px;
  height: 17px;
  width: 120px;
}

.comment_like {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #69c6ec;
  padding: 0;
  height: auto;
  width: auto;
  margin: 0;
}

.like_value {
  display: inline;
  font-size: 14px;
}

.profile_left {
  top: -10px;
  width: 17%;
  max-width: 240px;
  min-width: 130px;
  height: 100%;
  float: left;
  position: relative;
  background-color: #69c6ec;
  border-right: 10px solid #69c6ec;
  color: #CBEAF8;
  margin-right: 20px;
}

.profile_left img {
  min-width: 80px;
  width: 55%;
  margin: 20px;
  border: 5px solid #69c6ec;
  border-radius: 100px;
}

.profile_info {
  display: list-item;
  background-color: #69c6ec;
  width: 100%;
  padding: 10px 0 10px 0;
}

.profile_info p {
  margin: 0 0 0 20px;
  word-wrap: break-word;
}

.danger {
  background-color: #e74c3c;
}
.warning {
  background-color: #f0ad4e;
}
.default {
  background-color: #bdc3c7;
}
.success {
  background-color: #2ecc71;
}
.info {
  background-color: #69c6ec;
}
.deep_blue {
  background-color: #0043f0;
}

.profile_left input[type="submit"] {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin: 7px 0 0 7px;
  border: none;
  color: #fff;
}

#accept_button {
  width: 20%;
  height: 28px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  color: #fff;
  background-color: #2ecc71;
}
#ignore_button {
  width: 20%;
  height: 28px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  color: #fff;
  background-color: #e74c3c;
}

.delete_button {
  height: 22px;
  width: 22px;
  padding: 0;
  float: right;
  border-radius: 4px;
  right: -15px;
  position: relative;
}

.profile_main_column {
  min-width: 675px;
  float: left;
  width: 70%;
  z-index: -1;

}

.profile_info_bottom {
  margin: 10 0 0 7px;

}

#message_textarea {
  width: 80%;
  margin-right: 8px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  font-size: 12px;
}
#message_submit {
  height: 41px;
  width: 120px;
  margin: 0;
  position: absolute;
  border:none;
  background-color: #69c6ec;
  color: #69c6ec;
  border-radius: 5px;
  font-family: 'Bellota-BoldItalic', sans-serif;
  text-shadow: #69c6ec 0.5px 0.5px 0px;
}
.message {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  color: #fff;
}

.message#blue {
  background-color: #69c6ec;
  border-color: #69c6ec;
  float: right;
  margin-bottom: 5px;
}
.message#green {
  background-color: #2ecc71;
  border-color: #27ae60;
  float: left;
  margin-bottom: 5px;
}

.loaded_messages {
  height: 65%;
  min-height: 300px;
  max-height: 400px;
  overflow: scroll;
  margin-bottom: 10px;
}

.loaded_conversations {
  max-height: 216px;
  overflow: scroll;
}

.user_found_messages {
  border-bottom: 1px solid #D3D3D3;
  padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
  background-color: #D3D3D3;
}

.user_found_messages img {
  height: 35px;
  float: left;
}

#grey {
  color: #8C8C8C;
}

.resultDisplay {
  padding: 5px 5px 0 5px;
  height: 70px;
  border-bottom: 1px solid #D3D3D3;
}
.resultDisplay a {
  float: none;
}
.resultDisplay:hover {
  background-color: #EBEBEB;
  text-decoration: none;
}
.liveSearchProfilePic img {
  height: 50px;
  border-radius: 25px;
  margin: 1px 12px 0 2px;
  float: left;
}

.liveSearchText {
  background-color: transparent;
  color: #69c6ec;
}

.liveSearchText p{
  margin-left: 10px;
  font-size: 12px;
}

.tab-content {
  margin-top: 25px;
}

.dropdown_data_window {
  background-color: #fff;
  border: 1px solid #DADADA;
  border-radius: 0 0 8px 8px;
  border-top: none;
  width: 300px;
  position: absolute;
  right: 10px;
  top: 40px;
  overflow: scroll;
}

.notification_badge {
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #69c6ec;
  border-radius: 10px;
  position: absolute;
  left: 8px;
  top: -5px;
}

.resultDisplayNotification {
  height: auto;
  color: #69c6ec;
  padding-bottom: 7px;
}

.resultDisplayNotification img {
  height: 40px;
  border-radius: 5px;
  margin: 1px 12px 0px 2px;
  float: left;
}

.timestamp_smaller {
  font-size: 85%;
  margin: 0;
}

.search {
  margin: 8px 0 0 15%;
}

.search #search_text_input {
  border: thin solid #E5E5E5;
  float: left;
  height: 23px;
  outline: 0;
  width: 100px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.button_holder {
  background-color: #F1F1F1;
  border: thin solid #e5e5e5;
  cursor: pointer;
  float: left;
  height: 23px;
  text-align: center;
  width: 50px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.button_holder img {
  margin-top: 1px;
  width: 20px;
}

.search_results {
  background-color: #fff;
  border: 1px solid #DADADA;
  border-bottom: none;
  border-top: none;
  margin-top: 21px;
}

.search_results_footer{
  padding: 7px 4px 0px 4px;
  height: 30px;
  border: 1px solid #DADADA;
  border-top: none;
  background-color: #69c6ec;
  text-align: center;
}

.search_results_footer a {
  color: #fff;
}

.search_result {
  padding: 10px;
  height: 100px;
}

.searchPageFriendButtons {
  float: right;
}

.searchPageFriendButtons input[type="submit"] {
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  color: #fff;
}

.result_profile_pic {
  float: left;
  margin-right: 10px;
}

#search_hr {
  margin-bottom: 0px;
}

.small_profile_pic {
  height: 55px;
  margin: 1px 12px 0 2px;
  float: left;
}

#settings_input {
  border: 1px solid #ccc;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
}

.settings_submit {
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  color: #fff;
}


.message .deleteButton {
  color: #fff;
  margin: 0 5px 5px 0;
  cursor: pointer;
}

.postedImage img {
  max-height: 300px;
  max-width: 100%;
  display: block;
  margin: 5px auto;
}





.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #e9ecef;
}
.navbar {z-index: 5000;}
ul.navbar-nav {width: 100%; display: block;}
.header_search {float: right; position: relative; top: 8px;}
.header_search::after {content: ""; display: block; clear: both;}

.active {
  background-color: #69c6ec;
}
.active a {color: #FFF !important;}
nav a:hover {border-bottom: 0; color: #69c6ec !important;}


.btn-outline-primary {
  color: #69c6ec;
  border-color: #69c6ec;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #69c6ec;
  border-color: #69c6ec;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-decoration: none;
  overflow: no-content;

}

.nav-item {
  background-color: #f8f9fa;
  text-decoration: none;
  overflow: no-content;

}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #69c6ec;                                                   /* Schrift ändert farbe in nav bar bei hover - lori */
  text-decoration: none;
  overflow: no-content;
}

.nav-item active{
  text-decoration: none;
  overflow: no-content;

}


/* Style der Navbar ist hier definiert! - Lori */

body {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: inline;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffffff; /*Hintergrund hover nav bar war schwarz*/
}

.active {
  background-color: #69c6ec;
}


.column {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #D3D3D3;
  z-index: -1;
  color: #000000;                           /* Das ist "keine ausgewählt" bei dem Upload-Lori*/
}

.user_details {
  width: 250px;
  float: left;
  margin-bottom: 20px;
}

.user_details img {
  height: 120px;
  border-radius: 5px;
  margin-right: 5px;
}

.user_details_left_right {
  width: 100%;
  display: block;
  position: relative;
  color: #666;
  font-size: 16px;
  line-height: 22px;
}
.post_body textarea {border: 1px solid #DDD; margin: 15px 0; display: block;}
.post_box {border-bottom: 1px solid #EEE; padding: 20px 0; margin-bottom: 20px;}
.comment_box {padding: 15px 0;}
.höhe-postbox{
  height: 500px;
}

.place_content {
  padding-top: 50px
}



.message-box{
  background-color: #FFFFFF;
  margin-top: 20px;
  padding: 20px;
}
.change_img {
  margin-top: 20px;
}
.change_img input[type="file"] {
  font-size: 14px;
  margin: 10px 0;
}


footer {
  color: #69c6ec;
  background: #FFFFFF;
  display: block;
  height: 40px;
  line-height: 40px;
  margin-top: 20px;

}

footer .container {
  height: 100%;
}
footer .footer-content {
background: #FFFFFF;
  text-align: center;
  height: 100%;
}

footer ul li {
  padding-right: 20px;
  font-size: 15px;
}

.col-lg-3.profile_pic {
  margin-top: 20px;
}
.post-content-box.home .col-lg-9 {
  padding: 20px 0;
}
.post-content-box.home .col-lg-3 {
  padding: 20px;
}
input[type="submit"], input.like-button, .change_img button {
  display: inline-block;
  border:none;
  background-color: #69c6ec;
  color: #FFF;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 3px;
  text-shadow: #69c6ec 0.5px 0.5px 0px;
  cursor: pointer;
}
input[type="text"] {
  border: 1px solid #EEE;
  padding: 5px;
}
input.like-button {margin-right: 10px;}


