@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

html, body {
	height: 100%;
	min-height: 100%;
}

form {
	text-align: center;
}

body{
	margin: 0;
	padding: 0;
	font-family: Poppins-Regular, sans-serif;
}

a {
	text-decoration: none;
	color: #69c6ec;
}

.wrapper {
	background-image: url("../images/backgrounds/desktop.jpg");
	background-size: 100%;
	width: 100%;
	height: 100%;
	min-width: 950px;
	position: relative;

}

.login_box {

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 35%;
	background-color: #ffffff;
	border: 1px solid #EDEDED;
	border-radius: 7px;
	padding: 5px;
	opacity: 0.98;
}

.login_header {

	width: 100%;
	height: 90px;
	background-color: #69c6ec;
	color: #fff;
	text-align: center;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.login_header h1 {

	margin-top: 0;
	margin-bottom: 0;
	color: #69c6ec;
	text-shadow: #69c6ec 0.5px 0.5px 0px;
	font-size: 250%;
}

input[type="submit"] {
	background-color: #69c6ec;
	border: 1px solid #69c6ec;
	border-radius: 3px;
	margin: 5px 0 10px 0;
	padding: 5px 10px 5px 10px;
	color: #2C6C96;
	text-shadow: #69c6ec 0.5px 0.5px 0px;

	font-size: 100%;
}

input[type="text"], input[type="email"], input[type="password"] {
	border: 1px solid #e5e5e5;
	margin-top: 5px;
	width: 70%;
	height: 35px;
	margin-bottom: 10px;
	padding-left: 5px;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover {
	border-color: #69c6ec;
}


input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}

#second {
	display: none;
}




